<a href="https://colab.research.google.com/github/ahcamachod/1819-clustering-extrayendo-patrones-de-datos/blob/aula-2/clustering_aula_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Clustering: Extrayendo patrones de datos
En este notebook estaremos analizando patrones en el comportamiento de clientes de tarjeta de crédito empleando un dataset de Kaggle llamado CC GENERAL.csv.

Dicho análisis estará sujeto a los resultados obtenidos a través de una técnica de aprendizaje no supervisada llamada clustering.

Dataset: https://www.kaggle.com/arjunbhasin2013/ccdata

# 1. Bibliotecas utilizadas
Las versiones de las bibliotecas que usaremos son las siguientes:

In [1]:
import matplotlib
import numpy as np
import pandas as pd
import seaborn as sns
import sklearn

print(f'matplotlib --> {matplotlib.__version__}')
print(f'pandas --> {pd.__version__}')
print(f'numpy --> {np.__version__}')
print(f'seaborn --> {sns.__version__}')
print(f'sklearn --> {sklearn.__version__}')

matplotlib --> 3.2.2
pandas --> 1.1.5
numpy --> 1.19.5
seaborn --> 0.11.1
sklearn --> 0.22.2.post1

In [2]:
dataset = pd.read_csv('/content/drive/MyDrive/CC GENERAL.csv', sep = ',')
dataset.head(2)

  CUST_ID      BALANCE  ...  PRC_FULL_PAYMENT  TENURE
0  C10001    40.900749  ...          0.000000      12
1  C10002  3202.467416  ...          0.222222      12

[2 rows x 18 columns]

# 2. Obteniendo los *clusters* y entendiendo criterios y métricas de validación

# 3. Entendiendo y calculando el índice Davies-Bouldin

# 4. Entendiendo y calculando el índice Calinski-Harabasz

# 5. Validando y visualizando los *clusters*

# 6. Entendiendo los valores de los atributos en los *clusters*

# 7. Interpretando los *clusters*