<a href="https://colab.research.google.com/github/ahcamachod/1819-clustering-extrayendo-patrones-de-datos/blob/aula-3/clustering_aula_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Clustering: Extrayendo patrones de datos
En este notebook estaremos analizando patrones en el comportamiento de clientes de tarjeta de crédito empleando un dataset de Kaggle llamado CC GENERAL.csv.

Dicho análisis estará sujeto a los resultados obtenidos a través de una técnica de aprendizaje no supervisada llamada clustering.

Dataset: https://www.kaggle.com/arjunbhasin2013/ccdata

# 1. Bibliotecas utilizadas
Las versiones de las bibliotecas que usaremos son las siguientes:

In [ ]:
import matplotlib
import numpy as np
import pandas as pd
import seaborn as sns
import sklearn

print(f'matplotlib --> {matplotlib.__version__}')
print(f'pandas --> {pd.__version__}')
print(f'numpy --> {np.__version__}')
print(f'seaborn --> {sns.__version__}')
print(f'sklearn --> {sklearn.__version__}')

matplotlib --> 3.2.2
pandas --> 1.1.5
numpy --> 1.19.5
seaborn --> 0.11.1
sklearn --> 0.22.2.post1

In [11]:
import pandas as pd
dataset = pd.read_csv('/content/drive/MyDrive/CC GENERAL.csv', sep = ',')
dataset.head(2)

  CUST_ID      BALANCE  ...  PRC_FULL_PAYMENT  TENURE
0  C10001    40.900749  ...          0.000000      12
1  C10002  3202.467416  ...          0.222222      12

[2 rows x 18 columns]

# 2. Obteniendo los *clusters* y entendiendo criterios y métricas de validación

In [12]:
dataset.head(3)

  CUST_ID      BALANCE  ...  PRC_FULL_PAYMENT  TENURE
0  C10001    40.900749  ...          0.000000      12
1  C10002  3202.467416  ...          0.222222      12
2  C10003  2495.148862  ...          0.000000      12

[3 rows x 18 columns]

In [13]:
dataset.drop(columns=['CUST_ID','TENURE'], inplace=True)
dataset

          BALANCE  BALANCE_FREQUENCY  ...  MINIMUM_PAYMENTS  PRC_FULL_PAYMENT
0       40.900749           0.818182  ...        139.509787          0.000000
1     3202.467416           0.909091  ...       1072.340217          0.222222
2     2495.148862           1.000000  ...        627.284787          0.000000
3     1666.670542           0.636364  ...               NaN          0.000000
4      817.714335           1.000000  ...        244.791237          0.000000
...           ...                ...  ...               ...               ...
8945    28.493517           1.000000  ...         48.886365          0.500000
8946    19.183215           1.000000  ...               NaN          0.000000
8947    23.398673           0.833333  ...         82.418369          0.250000
8948    13.457564           0.833333  ...         55.755628          0.250000
8949   372.708075           0.666667  ...         88.288956          0.000000

[8950 rows x 16 columns]

In [14]:
missing = dataset.isna().sum()
print(missing)

BALANCE                               0
BALANCE_FREQUENCY                     0
PURCHASES                             0
ONEOFF_PURCHASES                      0
INSTALLMENTS_PURCHASES                0
CASH_ADVANCE                          0
PURCHASES_FREQUENCY                   0
ONEOFF_PURCHASES_FREQUENCY            0
PURCHASES_INSTALLMENTS_FREQUENCY      0
CASH_ADVANCE_FREQUENCY                0
CASH_ADVANCE_TRX                      0
PURCHASES_TRX                         0
CREDIT_LIMIT                          1
PAYMENTS                              0
MINIMUM_PAYMENTS                    313
PRC_FULL_PAYMENT                      0
dtype: int64

In [15]:
dataset.fillna(dataset.median(), inplace=True)
missing = dataset.isna().sum()
print(missing)

BALANCE                             0
BALANCE_FREQUENCY                   0
PURCHASES                           0
ONEOFF_PURCHASES                    0
INSTALLMENTS_PURCHASES              0
CASH_ADVANCE                        0
PURCHASES_FREQUENCY                 0
ONEOFF_PURCHASES_FREQUENCY          0
PURCHASES_INSTALLMENTS_FREQUENCY    0
CASH_ADVANCE_FREQUENCY              0
CASH_ADVANCE_TRX                    0
PURCHASES_TRX                       0
CREDIT_LIMIT                        0
PAYMENTS                            0
MINIMUM_PAYMENTS                    0
PRC_FULL_PAYMENT                    0
dtype: int64

In [17]:
from sklearn.preprocessing import Normalizer

values = Normalizer().fit_transform(dataset.values)
values

array([[3.93555441e-02, 7.87271593e-04, 9.17958473e-02, ...,
        1.94178127e-01, 1.34239194e-01, 0.00000000e+00],
       [2.93875903e-01, 8.34231560e-05, 0.00000000e+00, ...,
        3.76516684e-01, 9.84037959e-02, 2.03923046e-05],
       [3.10798149e-01, 1.24560965e-04, 9.63068011e-02, ...,
        7.74852335e-02, 7.81351982e-02, 0.00000000e+00],
       ...,
       [2.27733092e-02, 8.11060955e-04, 1.40540698e-01, ...,
        7.90986945e-02, 8.02156174e-02, 2.43318384e-04],
       [2.65257948e-02, 1.64255731e-03, 0.00000000e+00, ...,
        1.03579625e-01, 1.09898221e-01, 4.92767391e-04],
       [1.86406219e-01, 3.33426837e-04, 5.46778061e-01, ...,
        3.15915455e-02, 4.41568390e-02, 0.00000000e+00]])

In [24]:
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters= 5, n_init= 10, max_iter= 300)
y_pred= kmeans.fit_predict(values)

# 3. Entendiendo y calculando el índice Davies-Bouldin

# 4. Entendiendo y calculando el índice Calinski-Harabasz

# 5. Validando y visualizando los *clusters*

# 6. Entendiendo los valores de los atributos en los *clusters*

# 7. Interpretando los *clusters*